* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f7f6;
  color: black;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0px 12px;
  align-items: center;
  position: sticky;
  top: 0;
}

header h2 {
  color: #2d3436;
  margin-top: 10px;
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile {
  text-decoration: none;
  color: #0984e3;
  font-weight: 500;
  font-size: 0.95rem;
}

.profile:hover {
  color: #74b9ff;
}

.logout-link {
  background-color: #ff7675;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.logout-link:hover {
  background-color: #d63031;
}



main {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}




@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  main {
    margin: 1rem;
    padding: 1.5rem;
  }
}