.forgot-password-page {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #f4f7fe;
  overflow-y: auto;
}

.forgot-password-page .container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2.5rem;
  margin: 40px 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e4e8;
  border-radius: 15px;
  width: 100%;
  max-width: 550px; 
  min-width: 300px; 
  flex-shrink: 0;
  height: auto;
}

.forgot-password-page h2 {
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #333;
}

.forgot-password-page .field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.forgot-password-page .field label {
  font-weight: 600;
  font-size: 0.95rem;
  color: #444;
}

.forgot-password-page input {
  padding: 8px; 
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 15px;
  width: 100%;
}

.forgot-password-page .errors {
  color: #ef4444;
  font-size: 0.8rem;
  min-height: 18px;
  margin-top: 4px;
}

.forgot-password-page .btn-container {
  margin-top: 10px;
  width: 100%;
}

.forgot-password-page button {
  background-color: #4681f4;
  padding: 10px; 
  border: none;
  border-radius: 8px;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.forgot-password-page .disabled-btn {
  opacity: 0.6;
  cursor: not-allowed;
}

.forgot-password-page .normal-btn {
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgb(64, 64, 110);
}

.back-btn-link{
  text-decoration: none;
  color: #4681f4;
  font-size: 1.1rem;
}
.back-btn{
  margin-top: 10px;
}



@media (max-width: 768px) {
  .forgot-password-page .container {
    max-width: 500px;
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .forgot-password-page .container {
    padding: 1.5rem;
    margin: 20px 10px;
    width: 95%;
    max-width: none;
  }
  
  .forgot-password-page h2 {
    font-size: 1.3rem;
  }
}